.wrap {
    width: 1024px;
    min-height: 1000px;
    margin: auto;

}

/*헤더 스타일*/
header {
    border-bottom: 1px solid rgb(238, 238, 238);
}

header .miniMenu {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .miniMenu .leftMenu {
    display: flex;
    align-items: center;
    height: 100%;

}

header .miniMenu .leftMenu img {
    width: 16px;
    margin-right: 5px;
}

header .miniMenu a {
    text-decoration: none;
    color: #666;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    padding: 0 15px;
    line-height: 1.4;
    display: flex;

}

header .miniMenu .rightMenu div {
    display: flex;
}